<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edid Comment</title>
</head>
<body>
<div>
    <form action="#" th:action="@{'/editComment/{commentId}'(commentId=${comment.id})}"
          th:object="${comment}" method="post">
        <input type="hidden" th:field="*{post}">
        <input type="hidden" name="commentId" th:value="${comment.id}" />
        <label for="new-comment-text">Comment</label>
<!--        <textarea id="new-comment-text" th:field="*{comment}"  th:text="${comment.comment}"></textarea>-->
        <textarea id="new-comment-text" th:field="*{commentText}" th:text="${comment.commentText}"></textarea>
        <button type="submit">Save</button>
    </form>

    <a th:href="@{'/cancelEdit/'+${commentId}}" th:text="'Cancel'">Cancel</a>
</div>
</body>
</html>