<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resister</title>
</head>
<body>
    <div>
        <form action="#"
              th:action="@{/resister}"
              th:object="${user}"
              method="post">
            <div>
                <label>Name:</label>
                <input id="name" type="text" th:field="*{name}" placeholder="Your Name" required>
            </div>
            <div>
                <label>Email:</label>
                <input id="email" type="email" th:field="*{email}" placeholder="Your Email" required>
            </div>

            <div>
                <label>Password:</label>
                <input id="password" type="password" th:field="*{password}" placeholder="Password" required>
            </div>
            <input type="submit" value="Resister">
        </form>
        <div th:if="${error}">
            <span th:text="${error}">error message</span>
        </div>
        <a th:href="@{/}">Home</a>
    </div>
</body>
</html>